@model MRTFare.Models.Users


<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-body p-4 p-sm-5">
                        <h2 class="card-title text-center mb-5 fw-light fs-5">Sign Up</h2>
                        @using (Html.BeginForm())
                        {

                            <div class="form-floating mb-3">
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Name" })
                                <span class="errormsg">@Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })</span>
                            </div>

                            <div class="form-floating mb-3">
                                @Html.TextBoxFor(x => x.IcNo, new { @class = "form-control", @placeholder = "IC/Passport" })
                                <span class="errormsg">@Html.ValidationMessageFor(x => x.IcNo, "", new { @class = "text-danger" })</span>
                            </div>

                            <div class="form-floating mb-3">
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Your Email" })
                                <span class="errormsg">@Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })</span>
                            </div>

                            <div class="form-floating mb-3">
                                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @placeholder = "Your Password" })
                                <span class="errormsg">@Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })</span>
                            </div>

                            <div class="d-grid mb-2">
                                <input class="btn btn-md btn-primary btn-login fw-bold text-uppercase" type="submit" value="Register" />
                            </div>

                            <a class="d-block text-center mt-2 small" asp-area="" asp-controller="User" asp-action="LoginUser">Have an account? Sign In</a>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>