@{
    ViewData["Title"] = "My Booking";
}

@model IEnumerable<MRTFare.Models.MRT>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto">

                <div class="table-responsive">
                    <h2 class="card-title text-center mb-5 fw-light fs-5">My Booking List</h2>



                    @using (Html.BeginForm("SearchBooking", "Booking", FormMethod.Get))
                    {
                        <p>
                            <label>Search by Booking ID : </label>
                            @Html.TextBox("SearchString")

                            <input class="btn btn-secondary" type="submit" value="Search" />
                            @Html.ActionLink("Back to Full List", "UserBooking", new { }, new { @class = "btn btn-info" })
                        </p>
                    }


                    <table class="table table-responsive table-bordered">
                        <thead>
                            <tr class="bg-light text-center">
                                <th scope="col">@Html.DisplayNameFor(x => x.BookingId)</th>
                                <th scope="col">@Html.DisplayNameFor(x => x.BookDateTime)</th>
                                <th scope="col">@Html.DisplayNameFor(x => x.IndexOrigin)</th>
                                <th scope="col">@Html.DisplayNameFor(x => x.IndexDestination)</th>
                                <th scope="col">@Html.DisplayNameFor(x => x.IndexCategory)</th>
                                <th scope="col">@Html.DisplayNameFor(x => x.IndexTrip)</th>
                                <th scope="col">@Html.DisplayNameFor(x => x.Quantity)</th>
                                <th scope="col">@Html.DisplayNameFor(x => x.totalPrice)</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model)
                            {
                                <tr class="text-center">
                                    <th scope="row">@Html.DisplayFor(y => x.ViewId)</th>
                                    <td>@Html.DisplayFor(y => x.ViewDateTime)</td>
                                    <td>@Html.DisplayFor(y => x.DictStation[x.IndexOrigin])</td>
                                    <td>@Html.DisplayFor(y => x.DictStation[x.IndexDestination])</td>
                                    <td>@Html.DisplayFor(y => x.DictCategory[x.IndexCategory])</td>
                                    <td>@Html.DisplayFor(y => x.DictTrip[x.IndexTrip])</td>
                                    <td>@Html.DisplayFor(y => x.Quantity)</td>
                                    <td>RM @Html.DisplayFor(y => x.ViewTotalPrice)</td>
                                    <td>
                                        @Html.ActionLink("Details", "BookingDetails", new { id = x.Id }, new { @class = "btn btn-md btn-primary" })
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
